@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
    /* scroll-margin-top: 10svh; */
}

body {
    background-color: #272727;
}

.content {
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: max-content;
    height: max-content;
    background-color: transparent;
    border: 3px solid #FFF;
    border-radius: 20px;
    padding: 10px;
}

.calc-head {
    padding: 5px;
}

.calc-head h1 {
    color: #FFF;
}

.calc-body {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
}

.calc-input {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.calc-input select {
    color: #FFF;
    border: none;
    background-color: transparent;
}

.calc-input select:focus-visible {
    outline: none;
}

.calc-input select option {
    background-color: #272727;
    color: #FFF;
}

.calc-input input[type="text"] {
    width: max-content;
    padding: 3px;
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #FFF;
    border-radius: 0px;
    color: #FFF;
    transition: .5s;
}

.calc-input input[type="text"]::placeholder {
    color: #FFF;
}

.calc-input input[type="text"]:focus-visible {
    outline: none;
    border: 1px solid #FFF;
    border-radius: 10px;
}

.calc-input button {
    padding: 5px;
    border: 2px solid #FFF;
    border-radius: 10px;
    background-color: transparent;
    color: #FFF;
}

.calc-result {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.calc-result h2 {
    color: #FFF;
    font-weight: 400;
}

.calc-result span {
    color: #FFF;
    margin: auto 5px;
    font-size: 1.5em;
}


@media screen and (width <= 992px) {
    .calc-body {
        flex-direction: column;
    }

    .calc-input {
        flex-direction: column;
    }
}